
.ipynb_checkpoints/*

*.ipynb

*.txt

*.csv

*.xml

*.pyc

output_files/*

rearranged_trec_data/*

formatted_output_data/*

formatted_test_data/*

test_files/*

data/*

crf_files/*

test_scripts/*

.DS_Store

lib/__pycache__/*
